org-tree-node{
  position: relative;
  display: inline-block;
  vertical-align: top;

  text-align: center;
  list-style-type: none;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

org-tree-node:only-child {
  padding-top: 0px;
}

org-tree-node::before,  org-tree-node::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; height: 20px;
}
org-tree-node::after{
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}

org-tree-node:only-child::after,  org-tree-node:only-child::before {
  display: none;
}

org-tree-node:first-child::before, org-tree-node:last-child::after{
  border: 0 none;
}

org-tree-node:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
org-tree-node:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

org-tree-list::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}


