/* design a node UI*/
.horizon-line{
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	overflow:hidden;
	height:1px;
	margin:0px auto;
	padding:0px;
	background-color:#D5D5D5;
}

.org-tree-node{
  -moz-user-select: none;
  user-select: none;
  width: 130px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #ffffff;
	display:inline-block;
	*display:inline;
	*zoom:1;
}

.org-node-selected{
  background: skyblue;
  border: 1px solid skyblue;

}

/* 2017-11-9 */
.org-node-selected .left{
  visibility: visible;
 }
.org-node-selected .right{
  visibility: visible;
}
.left{
	font-size: 10px;
	position: absolute;
	border-right:1px #ccc solid;
	border-bottom:1px #ccc solid;
	display:inline-block;
	border-bottom-right-radius: 5px;
	padding: 0px 3px;
  visibility: hidden;
}

.middle{
	position: relative;
	margin-left: 15px;
  padding:0px 10px;
	display: inline-block;
	text-align: center;
	vertical-align: super;
}
.right{
	position: relative;
	display: inline-block;
	border-left: 1px solid #ccc;
	padding-bottom: 1px;
  visibility: hidden;
}

.right .editNode{
	font-size: 13px;
	display: inline-block;
	position: relative;
	padding: 0px 5px;

}
.right .addNode{
	font-size: 13px;
	position: relative;
	display: block;
	padding: 0px 5px;
}


/*set component org-tree-list style*/
org-tree-list{
  position: relative;
  display: flex;
  padding-top: 20px;
}

org-tree-list::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}

.optionWindow{
  position: absolute;
  z-index: 9999;
  margin:5px -15px;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #ddd;
}
.optionWindow::before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top:-10px;
  border-bottom: 10px solid #ddd;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.optionWindow input{
  width: 85px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 3px 0px;
  border-radius: 3px;
  padding-left:5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.optionWindow input:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.has-children {
  display: none;
}
.hide-children {

}
