
<div class="org-tree-node" [ngClass]="{'org-node-selected':nodeData.selected == true}" (click)="nodeClick()" (dblclick)="nodeDoubleClick()">

  <div class="left">
      <span (click)="deleteNode($event)"><i class="fa fa-trash-o "></i></span>
  </div>

  <div class="middle">
    <span contenteditable="false">{{nodeData.name}}</span>
  </div>
  <div class="right">
      <span class="editNode" (click)="editNode($event)"><i class="fa fa-edit"></i></span>
      <div class="horizon-line"></div>
      <span class="addNode" (click)="addNode($event)"><i class="fa fa-plus"></i></span>
  </div>

</div>
<div class="child-mark">
<span [ngClass]="{'has-children':hasChildren() == false}" >
    <i [ngClass]="{'fa fa-angle-double-down':showChildren == false}"></i>
    <i [ngClass]="{'fa fa-angle-double-up':showChildren == true}"></i>
  </span>
</div>
<org-tree-list
  [listData]="nodeData.children"
  (_nodeClick)="popNodeClick($event)"
  (_removeNode)="popDeleteNode($event)"
  (_editNode)="popEditNode($event)"
  (_addNode)="popAddNode($event)"
  [ngClass]="'org-tree-list'"
  *ngIf="hasChildren() && showChildren">

</org-tree-list>

